@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

/* Animations */
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes colorChange {
  0% {
    border-color: #DCF763;
  }
  50% {
    border-color: #1EA896; 
  }
  100% {
    border-color: #DCF763;
  }
}





* {
  font-size: 62.5%;
  color: white;
}

.App {
  text-align: center;
  animation: colorChange 10s infinite;
  border-bottom: dotted 10px;
  padding-top: 5%;
  margin-bottom: 5%;
  padding: 3%;
  font-family: 'Playfair Display', serif;
  font-size: 8rem;
}

.welcome-container img {
  width: 40%;
}

/* Header.js */
.Header {
  padding-bottom: 1%;
  margin-bottom: 5%;
  animation: colorChange 10s infinite;
  border-bottom: dotted 10px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  font-size: 6rem;
}

.button-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

button {
  background-color: #1EA896;
  padding: 1%;
  border-radius: 10px;
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
}

.button-container button {
  padding: 2%;
  width: 200px;
}

.classlist-button button {
  background: linear-gradient(to right, #DCF763 50%, #1EA896 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

/* Animates button to fill with light green as background shifts */
.classlist-button button:hover {
  background-position: left bottom;
}

/* CreateAcct & SignIn */

div .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div .form {
  display: flex;
  flex-direction: column;
  width: 165px;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  padding: 75px;
  margin: 20px;
  font-size: 2rem;
}

.form button {
  width: 100%;
  margin-top: 50px;
}

.form label {
  font-size: 2rem;
}

.form-container img {
  width: 50%;
}

/* Footer in HTML file*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  /* padding-top: 5%; */
}

nav a {
  text-decoration: none;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  background-color: #1EA896;
  padding: 1%;
  border-radius: 10px;
  width: 150px;
  text-align: center;
}